*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:rgb(226, 43, 165);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color:black;
    box-shadow: #ffffff;
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 600;
    box-shadow: #ffffff;
}


.buttons{
    margin-top: 20px;
    box-shadow: #ffffff;
    
}

.btn{
    font-size: 20px;
    background: none;
    border-color:whitesmoke;
    color:white;
    background-color: rgb(72, 35, 175);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}